<!DOCTYPE html>
<html>
    <head>
        <title>
            Main page
        </title>
        <style>
            body{
             background-image: url("https://th.bing.com/th/id/R.a82032772654b3d3d2a46c01438aa162?rik=fL1NEptmxaOBPQ&riu=http%3a%2f%2fwww.royalmontecarlo.com%2fimages%2fluxury-wallpaper-13-wallpaper-background-hd-rmc.jpg&ehk=mUHb8I36pvXE5pT%2bTXzOC00FaHAkC6ndgWbdsi%2bEobw%3d&risl=&pid=ImgRaw&r=0");
             background-size: 100%;
             text-align: center;
             color:chartreuse;
            }
        </style>
    </head>
    <body>
        <h1>“The location of a restaurant is as important as its food."</h1>
        <br><br>
        <h3>Register and Login to Select the Best Hotel</h3>
        <br><br>
        <nav>
            <a href="/register">Register</a>
            <br>
            <a href="/login">Login</a>
        </nav>
    </body>
</html>