<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
             background-image: url("https://images.pexels.com/photos/1001965/pexels-photo-1001965.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
             background-size: 100%;
             text-align: center;
             color:chartreuse;
            }
        </style>
        <title>Log in page</title>
    </head>
    <body>
        <h1>Enter your Login details</h1>
        <form action="/login" method="POST">
            <br>
            <br>
            <br>
            <br>
            <h3>Email:</h3>
            <input type="text" name="Email" placeholder="Enter Email" id="Email" required>
            <br>

            <h3>Password:</h3>
            <input type="password" name="Password" placeholder="Enter password" id="Password" required>
            <br><br>
            <input type="submit" id="submitDetails"  name="Login" value="Login" />

        </form>
    </body>
</html>
