<!DOCTYPE html>
<html>
<title>Main Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body{
  color:darkgoldenrod;
  font: size 45px;
  background-size: 100%;
  text-align: center;
  background-image:url("https://wallpapercave.com/wp/wp38040.jpg");
}
</style>
<body>
      <h1>The Hotel is Determined By Its Best Food</h1>
      <br>
      <form action = "/Main" method="POST" name="Recipie">
        <h3 style="text-align: center;">Select your favourite Recipies:</h3>



            <div style="text-align: center;">
                <input type="radio" name="Recipie" value="Veg FriedRice" id="Veg Fried Rice">
                <label for="xs"><b>Veg FriedRice(special)</b></label>
            </div>
            <div style="text-align: center;">
                <input type="radio" name="Recipie" value="Chicken Fried Rice" id="Chicken FriedRice">
                <label for="s"><b>Chicken FriedRice</b></label>
            </div>
            <div style="text-align: center;">
                <input type="radio" name="Recipie" value="All Non-Veg FriedRice" id="All Non-Veg FriedRice">
                <label for="m"><b>All Non-Veg FriedRice</b></label>
            </div>
            <div style="text-align: center;">
                <input type="radio" name="Recipie" value="Veg Biryani" id="veg Biryani">
                <label for="l"><b>veg Biryani</b></label>
            </div>
            <div style="text-align: center;">
              <input type="radio" name="Recipie" value="All Types of Non Veg Biryanis" id="All Types of Non Veg Biryanis">
              <label for="l"><b>All Types of  Non Veg Biryanis</b> </label>
          </div>
            <div style="text-align: center;">
                <input type="radio" name="Recipie" value="All Types of Manchoorias" id="All Types of Manchoorias">
                <label for="xl"><b>All Types of Manchoorias</b></label>
            </div>
            <div style="text-align: center;">
                <input type="radio" name="Recipie" value="Noodles" id="Noodles">
                <label for="xxl"><b>Noodles</b></label>
            </div>
            <div style="text-align: center;">
              <input type="radio" name="Recipie" value="Pizza" id="pizza">
              <label for="xxl3"><b>pizza</b></label>
            </div>
            <div style="text-align: center;">
              <input type="radio" name="Recipie" value="Burger and Sandwitch" id="Burger and Sandwitch">
              <label for="xxl3"><b>Burger and Sandwitch</b></label>
            </div>
            <div style="text-align: center;">
                <input type="radio" name="Recipie" value="Tiffins" id="Tiffins">
                <label for="xxl5"><b>Tiffins</b></label>
            </div>
            <div style="text-align: center;">
                <input type="radio" name="Recipie" value="Meals" id="Meals">
                <label for="xxl6"><b>Meals</b></label>
            </div>
            <div style="text-align: center;">
              <input type="radio" name="Recipie" value="Curries(All Veg,Non-veg)" id="Curries(All veg, Non-veg)">
              <label for="xxl2"><b>Curries(All veg, Non-veg)</b></label>
            </div>
            <br>
            <div style="text-align: center;">
                <input type="radio" name="Recipie" value="Samosa and Punukulu" id="Samosa">
                <label for="xxl5"><b>Samosa and Punukulu</b></label>
            </div>
            <br>
            <div style="text-align: center;">
              <input type="radio" name="Recipie" value="Icecreams" id="Ice cream">
              <label for="xxl5"><b>Ice cream</b></label>
          </div>
            <p style="text-align: center;">
            <input type="submit" id="submits"  name="Recipie" value="submit" />
            </p>
      </form>
</body>
</html>
