<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
             background-image: url("https://liveblogspot.com/wp-content/uploads/2020/10/Best-Heritage-Hotels-in-Rajasthan-1000x600.jpg");
             background-size: 100%;
             text-align: center;
             color:aqua;
            }
        </style>
    </head>
    <body>
        <form action="/register" method="POST">
            <h1>Register To The Food World</h1>
            <h3>Name:</h3>
            <input type="text"  placeholder="Enter name" name="Name" id="Name" required>
            <br><br>
            <h3>Email:</h3>
            <input type="text" name="Email" placeholder="Enter Email" id="Email" required>
            <br><br>
            <h3>Password:</h3>
            <input type="password"  placeholder="Enter Password" name="Password" id="Password" required>
            <br><br>
            <h3>ConfirmPassword:</h3>
            <input type="password"  placeholder="Enter Confirm Password" name="ConfirmPassword" id="ConfirmPassword" required>
            <br><br>
            <h3>MobileNumber:</h3>
            <input type="text"  placeholder="Enter Mobile Number" name="MobileNumber" id="MobileNumber" required>
            <br><br>
            <input type="submit" id="submitDetails"  name="Register" value="Register" /><br>
        </form>
    </body>
</html>